[package]
name = "fluent-bundle"
description = """
A localization system designed to unleash the entire expressive power of
natural language translations.
"""
version = "0.15.3"
edition.workspace = true
rust-version.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
authors.workspace = true
categories.workspace = true
keywords.workspace = true
readme = "README.md"
include = [
  "src/**/*",
  "benches/*.rs",
  "Cargo.toml",
  "README.md",
  "LICENSE-APACHE",
  "LICENSE-MIT",
]

[dependencies]
fixed_decimal = { version = "0.5.1", features = ["ryu"] }
fluent-langneg.workspace = true
fluent-syntax.workspace = true
icu_decimal = "1"
icu_locid = "1"
icu_provider = { version = "1", features = ["sync"] }
intl_pluralrules.workspace = true
rustc-hash.workspace = true
unic-langid.workspace = true
intl-memoizer = { version = "0.5.2", path = "../intl-memoizer" }
self_cell = "1.0"
smallvec = "1.13"

[dev-dependencies]
criterion.workspace = true
iai.workspace = true
serde = { workspace = true, features = ["derive"] }
unic-langid = { workspace = true, features = ["macros"] }
rand = "0.8"
serde_yaml = "0.9"

[features]
default = []
all-benchmarks = []

[[bench]]
name = "resolver"
harness = false

[[bench]]
name = "resolver_iai"
harness = false
