[package]
name = "fluent-bundle"
description = """
A localization system designed to unleash the entire expressive power of
natural language translations.
"""
version = "0.6.0"
edition = "2018"
authors = [
    "Zibi Braniecki <gandalf@mozilla.com>",
    "Staś Małolepszy <stas@mozilla.com>"
]
homepage = "http://www.projectfluent.org"
license = "Apache-2.0/MIT"
repository = "https://github.com/projectfluent/fluent-rs"
readme = "README.md"
keywords = ["localization", "l10n", "i18n", "intl", "internationalization"]
categories = ["localization", "internationalization"]

[dependencies]
fluent-locale = { path = "../../fluent-locale-rs" }
fluent-syntax = "0.9"
failure = "0.1"
failure_derive = "0.1"
intl_pluralrules = { git = "https://github.com/zbraniecki/pluralrules", branch = "master" }
rental = "0.5.4"
smallvec = "0.6.10"
unic-langid = { git = "https://github.com/zbraniecki/unic-locale", branch = "master" }

[dev-dependencies]
criterion = "0.2"
serde = { version = "1.0", features = ["derive"] }
serde_yaml = "0.8"
rand = "0.7.0"

[[bench]]
name = "resolver"
harness = false
