[package]
name = "fluent-cli"
description = """
A collection of command line interface programs
used for Fluent Localization System.
"""
version = "0.0.1"
edition = "2018"
authors = [
    "Zibi Braniecki <gandalf@mozilla.com>",
    "Staś Małolepszy <stas@mozilla.com>"
]
homepage = "http://www.projectfluent.org"
license = "Apache-2.0/MIT"
repository = "https://github.com/projectfluent/fluent-rs"
readme = "README.md"
keywords = ["localization", "l10n", "i18n", "intl", "internationalization"]
categories = ["localization", "internationalization"]

[dependencies]
annotate-snippets = {version = "^0.5", features = ["color"]}
clap = "^2.32"
fluent-syntax = { path = "../fluent-syntax" }
