sudo: required
language: rust
cache: cargo
rust:
  - stable
  - beta
  - nightly
# Dependencies of kcov, used by coverage
addons:
  apt:
    packages:
      - libcurl4-openssl-dev
      - libelf-dev
      - libdw-dev
      - binutils-dev
      - cmake
    sources:
      - kalakris-cmake

before_script:
  - export LD_LIBRARY_PATH=$(rustc --print sysroot)/lib:$LD_LIBRARY_PATH
  - export PATH=$HOME/.cargo/bin:$PATH
#  - cargo install rustfmt-nightly || echo "rustfmt-nightly already installed"
  - cargo install cargo-travis || echo "cargo-travis already installed"

script:
#  - cargo fmt -- --write-mode=diff
  - cargo build
  - cargo test
  - cargo doc

after_success:
# measure code coverage and upload to coveralls.io
  - cargo coveralls
