[package]
name = "fluent-pseudo"
description = """
Pseudolocalization transformation API for use with Project Fluent API.
"""
version = "0.3.2"
edition.workspace = true
rust-version = "1.64.0"
authors = [
    "Zibi Braniecki <zibi@unicode.org>",
    "Staś Małolepszy <stas@mozilla.com>"
]
homepage = "http://www.projectfluent.org"
license = "Apache-2.0 OR MIT"
repository = "https://github.com/projectfluent/fluent-rs"
readme = "README.md"
keywords = ["localization", "l10n", "i18n", "intl", "internationalization"]
categories = ["localization", "internationalization"]
include = [
	"src/**/*",
	"benches/*.rs",
	"Cargo.toml",
	"README.md",
	"LICENSE-APACHE",
	"LICENSE-MIT"
]

[dependencies]
regex = "1"
