[package]
name = "fluent-fallback"
description = """
High-level abstraction model for managing localization resources
and runtime localization lifecycle.
"""
version = "0.1.0"
edition = "2018"
authors = [
    "Zibi Braniecki <gandalf@mozilla.com>",
    "Staś Małolepszy <stas@mozilla.com>"
]
homepage = "http://www.projectfluent.org"
license = "Apache-2.0/MIT"
repository = "https://github.com/projectfluent/fluent-rs"
readme = "README.md"
keywords = ["localization", "l10n", "i18n", "intl", "internationalization"]
categories = ["localization", "internationalization"]

[dependencies]
fluent-bundle = { path = "../fluent-bundle" }
fluent-locale = { git = "https://github.com/projectfluent/fluent-locale-rs", branch = "master" }
reiterate = "0.1.3"

[dev-dependencies]
elsa = "1.3.2"
unic-langid = "0.4"