[package]
name = "fluent-fallback"
description = """
High-level abstraction model for managing localization resources
and runtime localization lifecycle.
"""
version = "0.0.4"
edition = "2018"
authors = [
    "Zibi Braniecki <gandalf@mozilla.com>",
    "Staś Małolepszy <stas@mozilla.com>"
]
homepage = "http://www.projectfluent.org"
license = "Apache-2.0/MIT"
repository = "https://github.com/projectfluent/fluent-rs"
readme = "README.md"
keywords = ["localization", "l10n", "i18n", "intl", "internationalization"]
categories = ["localization", "internationalization"]

[dependencies]
chunky-vec = "0.1"
fluent-bundle = { version = "0.13", path = "../fluent-bundle" }
futures = "0.3"
pin-cell = { git = "https://github.com/withoutboats/pin-cell", rev = "4d5803d83c6b3bffd62c9e73a0ceaf5ec6f01495" }

[dev-dependencies]
l10nregistry = { path = "../../l10nregistry-rs", features = ["tokio"] }
tokio = { version = "0.3", features = ["macros"] }
unic-langid = { version = "0.9", features = ["macros"] }
