name: Rustfmt

on:
  # Triggers the workflow on push request events but only for the master branch
  push:
    branches: [ main ]

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - name: Toolchain setup
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
          components: rustfmt

      - uses: actions/checkout@v4
      - name: Run rustfmt
        run: cargo fmt --check
